/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.svn/
/config/database
*dwsync.xml
app/Http/Controllers/Auth/_notes/dwsync.xml
app/Http/_notes/dwsync.xml
*.settings
sftp-config.json
app/Exceptions/Handler.php